:root {
    --black:#222;
    --pink:#F1E4E6;
    --pink-color: #f09ba7;
    --white: #FFFFFF;
    --grey:#9F9F9F;
    --dark_grey:#5D5D5D;
    --red: #F16D7F;
    --red-color:#FF6A6A;
    --red-color-new:#F26376;
}

.body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header__nav {
    display: none;
}

.header {
    background-color: var(--black);
    min-height: 75px;
}

.header__link {
    text-decoration: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__menu--button {
    border: 1px solid;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 65px 63px;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: var(--pink);
    padding: 0 0 0 92px;
}

.brand__title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    text-transform: uppercase;
}

.brand__subtitle {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
    display: block;
}

.brand__subtitle-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.sales__item-text {
    color: var(--white);
}

.sales__item-offer {
    color: var(--white);
}

.sales__item-recording {
    color: var(--white);
}

.sales__item-inscription{
    color: var(--white);

}

.sales__item-title {
    color: var(--pink-color)
}

.sales__item-chapter{
    color: var(--pink-color)
}

.sales__item-column {
    color: var(--pink-color)
}

.sales__item-catalog {
    color: var(--pink-color)
}

.sales__item--woman {
    background-image: url(../png/sales_woman.jpg);
}

.sales__item--man {
    background-image: url(../png/sales_man.jpg);
}

.sales__item--kids {
    background-image: url(../png/sales_kids.jpg);
    ;
}

.sales__item--shoes {
    background-image: url(../png/sales_shoes.jpg);
    width: 100%;
    margin-top: 30px;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    margin: 96px 0 6px 0;
    color: var(--black);
    text-align: center;
}

.products__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 48px;
}


.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products__item-title {
    margin: 26px 150px 13px 0px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}

.products__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark_grey);
    margin: 0px 29px 18px 16px;
}

.products__item-price {
    color: var(--red);
    margin: 0px 289px 50px 16px ;
    font-size: 16px;
    line-height: 19px
}

.products__click {
    border: 1px solid var(--red-color) ;
    font-size: 16px;
    line-height: 19p;
    color: var(--red-color-new);
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 14px 39px 14px 39px;
}
