.brand {
    display: flex;
    margin: 0 0 65px 63px;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: $pink;
    padding: 0 0 0 92px;
    position: relative;
}

.brand__title-wrp::before {
    border: 2px solid #F16D7F;
    background: #F16D7F;
    position: absolute;
    content: ' ';
    width: 7px;
    height: 80px;
    left: 60px;
}

.brand__title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900px;
    text-transform: uppercase;
}

.brand__subtitle {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700px;
    font-style: normal;
    display: block;
}

.brand__subtitle-pink {
    color: $pink-color;
}

@media (max-width: 1024px) {

    .brand {
        margin: 0 0 18px 0;
    }

    .brand__img {
        height: 367px;
        object-fit: cover;
        width: 50%;
    }

    .brand__title {
        font-size: 44px;
        line-height: 53px;
    }
    
}

@media (max-width: 767px) {

    .brand {
        min-height: 363px;
        margin: 0 0 64px 0;
    }

    .brand__img {
        display: none;
    }

    .brand__title {
        font-size: 38px;
        line-height: 46px;
    }

    .brand__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

}