.header__nav {
    display: none;
}

.header {
    background-color: $black;
    min-height: 75px;
}

.header__link {
    text-decoration: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
}

.loupe__icon {
    fill: $white-color;
}

.header__search:hover .loupe__icon,
.header__search:active .loupe__icon {
    fill: $blue;
}

.header__menu--button {
    border: 1px solid;
    background-color: transparent;
} 

.burger__icon {
    fill: $white-color;
}

.header__menu--button:hover .burger__icon,
.header__menu--button:active .burger__icon {
    fill: $blue;
}

.header__link {
    margin: 0 0 0 33px;
}

.people__icon {
    fill: $white-color;
}

.header__link:hover .people__icon,
.header__link:active .people__icon {
    fill: $blue;
}

.basket__icon {
    fill: $white-color;
}

.header__link:hover .basket__icon,
.header__link:active .basket__icon {
    fill: $blue;
}

@media (max-width: 1599px) {
    .header__logo-form-wrp {
        margin: 0 0 0 16px;
    }
    

    .header__menu {
        margin: 0 16px 0 0;
    }
}

@media (max-width: 767px) {
    .header__logo-form-wrp {
    margin: 0 0 0 16px;
    }

    .header__menu {
        margin: 0 16px 0 0;
    }

    .header__link {
        display: none;
    }
}
