.products__title {
    font-size: 30px;
    line-height: 36px;
    margin: 96px 0 6px 0;
    color: $black;
    text-align: center;
}

.products__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $grey;
    margin-bottom: 48px;
}


.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products__item-title {
    margin: 26px 150px 13px 0px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}

.products__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $dark_grey;
    margin: 0px 29px 18px 16px;
}

.products__item-price {
    color: $red;
    margin: 0px 289px 50px 16px ;
    font-size: 16px;
    line-height: 19px
}

.products__btn {
    position: relative;
    height: 47px;
    margin-bottom: 96px;
}

.products__btn--click {
    border: 1px solid $red-color;
    font-size: 16px;
    line-height: 19p;
    color: $red-color-new;
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 14px 39px 14px 39px;
    align-items: center;
    position: absolute;
    left: 450px;
}

.products__btn:hover .products__btn--click,
.products__btn:focus .products__btn--click {
    background: $white-color;
}

@media (max-width: 1599px) {
    .products__title {
        margin: 155px 0 3px 0;
    }

    .products__subtitle {
        margin-bottom: 72px;
    }

    .products__btn {
        margin-bottom: 65px;
    }

    .products__btn--click {
        left: 270px;
    }

}

@media (max-width: 767px) {
    .products__title {
        margin: 64px 0 3px 0;
    }

    .products__subtitle {
        margin-bottom: 64px;
    }

    .products__btn {
        margin-bottom: 96px;
    }

    .products__btn--click {
        left: 65px;
    }
}