.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.sales__item-text {
    color: $white;
}

.sales__item-offer {
    color: $white;
}

.sales__item-recording {
    color: $white;
}

.sales__item-inscription {
    color: $white;

}

.sales__item-title {
    color: $pink-color;
}

.sales__item-chapter {
    color: $pink-color;
}

.sales__item-column {
    color: $pink-color;
}

.sales__item-catalog {
    color: $pink-color;
}

.sales__item--woman {
    background-image: url(../png/sales_woman.jpg);
}

.sales__item--man {
    background-image: url(../png/sales_man.jpg);
}

.sales__item--kids {
    background-image: url(../png/sales_kids.jpg);
    ;
}

.sales__item--shoes {
    background-image: url(../png/sales_shoes.jpg);
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .sales__item {
        width: 232px;
        min-height: 167px
    }

    .sales__item--shoes {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .sales__list {
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-between;
    }

    .sales__item {
        width: 343px;
        min-height: 247px
    }

    .sales__item--shoes {
        background-image: url(../png/sales_clothes.png);
        width: 100%;
    }

    .sales__item--woman {
        margin-bottom: 30px;
    }

    .sales__item--man {
        margin-bottom: 30px;
    }
}