    $black:#222;
    $pink:#F1E4E6;
    $pink-color: #f09ba7;
    $white: #FFFFFF;
    $grey:#9F9F9F;
    $dark_grey:#5D5D5D;
    $red: #F16D7F;
    $red-color:#FF6A6A;
    $red-color-new:#F26376;
    $white-color: #E8E8E8;
    $blue:#00bfff;
    $light-grey: #E1E1E1;

